# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
node_modules
.venv
.svelte-kit
build

.netlify
.vercel

src/tools/converter/resources/dattAMsh/

data/gita/data
data/gita/raw_data
data/gita/out
data/gita/text_data
data/gita/zipped
data/gita/translations/
data/gita/ramayan_map.json
data/gita/summary/summaries

src/db/scripts/out/
src/db/migrations/
src/db/scripts/backup/

static/~partytown
static/sitemap.xml
static/robots.txt